<ion-view view-title="{{cub.name}}">
    
        <ion-nav-buttons side="secondary">
            <button class="button button-icon button-clear ion-ios-cloud-upload" ng-click="save();">
                
            </button>
        </ion-nav-buttons>

    
    

        <ion-content>
            <img src="{{GetPhotoSrc(cub.img)}}" width="100" height="100" alt="" class="circle">
            <button class="icon ion-ios-camera" ng-click="takePhoto();"> - Take New Photograph</button>
            

            <div class="list">
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input id="first_name" type="text" ng-model="cub.firstname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Surname</span>
                    <input id="last_name" type="text" ng-model="cub.lastname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Date of Birth</span>
                    <input id="dob" type="date" ng-model="cub.dob" />
                </label>
                <label class="item item-input">
                    <span class="input-label">Date Invested</span>
                    <input id="dateinvested" type="date" ng-model="cub.dateinvested">
                </label>

                <label class="item item-input">
                    <span class="input-label">Six</span>
                    
                    <select ng-model="cub.six" ng-options="six.color for six in sixes"></select>

                </label>

                <a class="item item-button-right" href="#">
                    Badges
                    <i class="icon ion-images"></i>
                </a>
            </div>
        </ion-content>
</ion-view>
