<ion-view view-title="Test" ng-controller="testController as vm">
        <ion-content>
            <p>Test</p>
            <button id="test" ng-click="vm.deleteDB();">Delete DB</button>

            <!--<form name="form1">
                <custom-input required="required" ng-maxlength="3" ng-model="vm.customfield" form-name="form1" field-name="customfield1" type="text">Custom Field1:</custom-input>

                <custom-input required="required" ng-minlength="3" ng-model="vm.customfield2" form-name="form1" field-name="customfield2" type="text">Custom Field2:</custom-input>
                
                <button type="submit">Submit</button>
            </form>

            <p>
                the form is valid: {{ form1.$valid }} <br />
                form errors:
                <pre>
                    {{ form1.$error }}
                </pre>
                customfield1: {{vm.customfield}}<br />
                customfield2: {{vm.customfield2}}<br />
            </p>-->

        </ion-content>
</ion-view>
