    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">New Six</h1>
        </ion-header-bar>
        <ion-content>
            <form name="form" ng-controller="newSixController as vm">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Name</span>
                        <input id="name" type="text" ng-model="vm.newentity.name">
                    </label>
                </div>
                <button class="button button-positive" ng-click="vm.Save();">Save</button>
                <button class="button button-assertive" ng-click="vm.Cancel();">Cancel</button>
            </form>
        </ion-content>
    </ion-modal-view>
