<ion-view view-title="{{vm.entity.name}}" ng-controller="sixController as vm">
    
        <ion-nav-buttons side="secondary">
            <button class="button button-icon button-clear ion-ios-cloud-upload" ng-click="vm.save();">
                
            </button>
        </ion-nav-buttons>

        <ion-content>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Six Name</span>
                    <input id="first_name" type="text" ng-model="vm.entity.name" required />
                </label>
                
                <div class="item item-divider">
                    Cubs
                </div>

                <ion-item class="collection-item item-thumbnail-left" ng-repeat="cub in vm.cubs track by $index" href="#/app/cubs/{{cub._id}}">
                    <img ng-src="{{vm.GetPhotoSrc(cub.img)}}" style="max-height: 100px; max-width: 100px" alt="" class="circle">
                    <span class="title">{{cub.firstname + ' ' + cub.lastname}}</span>
                    <p>
                        <span>Six: {{cub.six.color}}</span><br />
                        <span>Age: {{ vm.DisplayAge(cub.dob)}}</span>
                    </p>

                </ion-item>
                
            </div>
        </ion-content>
</ion-view>
