<ion-view view-title="Sixes" ng-controller="sixesController as vm">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon button-clear ion-plus-circled" ng-click="vm.AddNew();"></button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list">
            <label class="item item-input">
                <i class="icon ion-funnel placeholder-icon"></i>
                <input ng-model="query" type="text" placeholder="Filter">
            </label>
        </div>

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.Refresh();"></ion-refresher>

        <ion-list class="collection">
            <ion-item ng-repeat="six in vm.entities | filter:query track by $index" href="#/app/sixes/{{six._id}}">
                <span class="title">{{six.name}}</span>
                <span class="title">{{six._id}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
