<ion-view view-title="{{cub.name}}" ng-controller="cubController as vm">
    
        <ion-nav-buttons side="secondary">
            <button class="button button-icon button-clear ion-ios-cloud-upload" ng-click="vm.save();">
                
            </button>
        </ion-nav-buttons>

        <ion-content>
            <img ng-src="{{vm.GetPhotoSrc(vm.cub.img)}}" style="max-height: 150px; max-width: 150px" alt="" class="circle">
            <button class="icon ion-ios-camera" ng-click="vm.takePhoto();"> - Take New Photograph</button>
            

            <div class="list">
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input id="first_name" type="text" ng-model="vm.cub.firstname" required />
                </label>
                <label class="item item-input">
                    <span class="input-label">Surname</span>
                    <input id="last_name" type="text" ng-model="vm.cub.lastname" required />
                </label>
                <label class="item item-input">
                    <span class="input-label">Date of Birth</span>
                    <input type="text" ng-model="vm.cub.dob" datepicker-popup="yyyy-MM-dd" is-open="vm.opened" placeholder="yyyy-MM-dd" required />
                    <span class="input-group-btn"><button class="btn btn-default" ng-click="vm.openCalendar($event);"><i class="ion-calendar"></i></button></span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Date Invested</span>
                    <input type="text" ng-model="vm.cub.dateinvested" datepicker-popup="yyyy-MM-dd" placeholder="yyyy-MM-dd" min="2000-01-01" />
                </label>

                <label class="item item-input">
                    <span class="input-label">Pack</span>

                    <select ng-model="vm.cub.pack" ng-options="pack.name for pack in packs"></select>

                </label>

                <label class="item item-input">
                    <span class="input-label">Six</span>
                    
                    <select ng-model="vm.cub.six" ng-options="six.color for six in sixes"></select>

                </label>

                <a class="item item-button-right" href="#">
                    Badges
                    <i class="icon ion-images"></i>
                </a>
            </div>
        </ion-content>
</ion-view>
